@model IList<SurveyResult>
@{
    ViewData["Title"] = "Index";
}

<h2>Park Rankings</h2>

@if(TempData["Submitted"] != null)
{
    <p>YOUR VOTE IS CAST. MAY GOD HAVE MERCY ON YOUR SOUL.</p>
}

<table>
    @foreach (var result in Model)
    {
        <thead>
            <tr>
                <th>@result.ParkName</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @result.SurveyTally
                </td>
            </tr>
        </tbody>
    }
</table>