@model IList<SurveyResult>
@{
    ViewData["Title"] = "Index";
}

<h2 class="header">Park Rankings</h2>

<h4 class="detail_state">The following are the top rated parks:</h4>

@if (TempData["Submitted"] != null)
{
    <p class="temp-message">YOUR VOTE IS CAST. MAY GOD HAVE MERCY ON YOUR SOUL.</p>
}

<table class="table table-responsive">
    @for (int i = 0; i < Model.Count; i++)
    {
        <tbody>
            <tr>
                <td><img src="~/img/parks/@(Model[i].ParkCode).jpg" class="park_img" /></td>
                <td>
                    @if (i == 0)
                    {
                        <i class="fas fa-trophy"></i>
                    }
                    else if (i == 1)
                    {
                        <i class="fas fa-award"></i>
                    }
                </td>
                <td class="detail_header">@Model[i].ParkName</td>
                <td class="results_tally">@Model[i].SurveyTally</td>
            </tr>
        </tbody>
    }
</table>