
@{
    ViewData["Title"] = "SurveyError";
}

<h2 class="header">Error!</h2>

<p>Oh no :(</p>
<p>Looks like there was an error. Take a walk and try again later. <i class="fas fa-walking"></i> <i class="fas fa-tree"></i></p>

<a asp-controller="Survey" asp-action="TakeSurvey">Return?</a>