
@{
    ViewData["Title"] = "SurveyError";
}

<h2 class="header">Oops!</h2>

<div class="detail_header">
    <p>Looks like something went wrong. Take a walk and try again later. <i class="fas fa-walking"></i> <i class="fas fa-tree"></i></p>
</div>

<hr class="white_hr error_page" />

<a asp-controller="Survey" asp-action="TakeSurvey" class="return">Return?</a>